.login {
    width: 100vw;
    height: 100vh;
    background-color: #536b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginButton {
  background-color: #1ed760;
  color: #121212;
}